<img src = "https://datasciencebocconi.github.io/Images/Other/logoBocconi.png">

## Numpy: NUMerical PYthon 



This is Python's stack for scientific computing. The fundamental new data type is that of a **numpy array**, Python's matrix(tensor)-type object, which is used in the majority of Python's modules for Data Analysis, Statistics and Machine Learning  - for example in order to feed data into `sklearn` functions

numpy arrays contain data all of the same type (*dtype*), numerical of many types or boolean

The coordinates are known as axes

In [ ]:
# import module 
import numpy as np

To create an array we use the np.array() function

In [ ]:
# creating an array
a = np.array([[1, 2, 3, 4, 5, 6], 
              [42, 53, 43 ,62, 7, 4], 
              [-3, -1, -4 ,-8, -52, -4], 
              [10, 0, 4 , 1, 0, 1]])

We can access the elements in an array using multi-index notation, familiar in small variations in many computing environments and languages - with the usual Pythonic conventions, e.g., counting starts from 0, slicing a:b is inclusive:exclusive, negative indices, etc

What do you think the following piece of code does? 

```python
print(a[-2:,[2,4]])
```

### Array attributes

The array data type has its own attributes. Some worth highlighting are:

+ Shape
```python
arrayname.shape # returns the shape as tuple, e.g. (4,6)
arrayname.reshape(arg) # returns a new array with the same data as those in arrayname but organized in different shape - read carefully defaults
```
+ Aggregations
```python
arrayname.function(arg) # e.g. function could be sum, max, min, etc. args can be used to specify operation over all elements, or for an axis, etc  - this is much more efficient than looping
```
+ Linear algebra
```python
arrayname.transpose(arg)  # transpose - even for multi-d arrays
arrayname.diagonal(arg) # diagonal elements as array
arrayname.dot(anotherarray) # dot product
```

#### Exercise 1

Create two arrays, the first contains the row sums and the second the column sums of a

In [ ]:
#Solution

## Array operations

Remember that to concatenate two lists in Python, we could use the "+" operator. 

This is not the case in Numpy!

Mathematical symbols take on mathematical meanings in Numpy. Thus, the "+" operator between two Numpy Arrays actually just attempts to add them together, elementwise.

In [ ]:
# Numpy array addition: 

a,b = np.array([1,2,3]), np.array([4,5,6])
a + b

In [ ]:
# Numpy array concatenation: 

np.concatenate([a,b])

# Data analysis with Python: PANDAS

PANDAS: Panel Data Structures 

This is the module in Python for doing rectangular-data management, analysis and plotting.

The first set of tools are to read and write.

## Loading data into Python 

See [IO DOC](https://pandas.pydata.org/pandas-docs/stable/io.html) in Python for more information

Lets load our first dataset (and load all we need to get working!)

In [ ]:
import pandas as pd

# load a dataframe from disk
# if loading from URL

tips = pd.read_csv("https://datasciencebocconi.github.io/Data/tips.csv")

tips.head(5)

## Series and DataFrame

These are the two basic data formats in PANDAS, the equivalent of column and rectangular data structures, as in linear algebra (vector/matrix) but equipped with several attributes invaluable for data management and analysis

In the *tips* example, the variable "tips" is a DataFrame, while any individual column would be a Series.

## Series 

This is a 1-d data structure with *values* accessed via their index. 

Unlike in raw Python or Numpy, however, Series indices can be made up of either: 
+ *numbers*: which could be ordered and contiguous like a Python list, but don't have to be! 
+ *strings*: essentially labels, like the keys in a dictionary

Although typically a series is obtained by reading a dataset from an external file or when doing operations on dataframes, we can still define one manually by specifying the values and the indices. 

Let's do this an get an insight into how it works

In [ ]:
# here no indices are specified, there are defaults
my_series = pd.Series([1, 15, -5, None, 4, 123, 3, 78, 0, 5, -4])

In [ ]:
# Accessing a certain value via the index

my_series[0]

In [ ]:
# Note that there are a bunch of attributes.
# .values returns a numpy ndarray of the values! 

my_series.values

In [ ]:
# Take a look at the index. What type is it? 
# You convert it to a numpy ndarray by adding ".values" again!

my_series.index

In [ ]:
# You can overwrite the index directly: 

my_series.index = ["om","ir","os","pap","pas","pil","o","po","ulos","is","best"]

my_series

In [ ]:
# We can access the series values via their name

my_series["om"]

## iloc

Accessing values via the index can be very useful, but sometimes you want to access the values as though they were a Python list. In other words "I want the first value!", without having to know the name of the label. 

This can be achieved with .iloc: 

```python
my_series.iloc[0]
```

In [ ]:
# Note that indices can get moved around, by sorting for example!
# iloc gives you the element you would get if the Series
# were a list and you were giving it the index:

# This just resets the index to be as we found it originally
my_series = my_series.reset_index(drop=True)

x = my_series.sort_values()

x[0], x.iloc[0]

In [ ]:
print(my_series)

In [ ]:
print(x)

## Operations with series

Because Series are Numpy arrays behind the scenes, we can compute element-wise functions on one series or several series at the same time. The result is another series with data type depending on the type of operations performed. 

For example, what do you think the following piece of code will do:

In [ ]:
series1 = pd.Series([1,3,5,7])
series2 = pd.Series([0,10,-1,6])

series3 = 2*series1 + abs(series2)

series4 = series1 > series2 

# Take a look at the different Series objects!

In [ ]:
print(series4)

## Data alignment 

What goes on in the previous examples is more subtle than it looks. How does Python know which elements from each series to join in the required operation together?  

What happens is that the indices happened to be the same. So when we ask something like 

```python
series3 = series1 + series2 
```

Python looks for entries in each series with the same index and then does an elementwise summation that it stores in a like-wise index in Series 3. 

Consider instead the following example

In [ ]:
series1 = pd.Series([1,10,30],index=["om","iros","hi"])
series2 = pd.Series([4,-1],index=["pap","as"])
series3 = series1 + series2
print(series3)

This aspect makes it very easy to work with series that we have sorted or manipulated otherwise; there is always the address to access a value. This helps prevent accidentally combining values we didn't mean to combine!

## Basic information retrieval with series

+ Accessing single elements
+ Slicing; accessing a set of elements
+ Filtering; selection by  boolean index

Recalling that operations on Series returns Series, the big news here is that we can access values in a Series by specifying 

+ single index
+ a slice (a:b for integers a,b) 
+ list (or Numpy Array or Series) of index labels
+ a boolean Series (also called a _boolean mask_) 

Interesting: the result of any such retrieval (except for a single index) is a series itself!

In [ ]:
# accesing by list of index labels

my_series.index = ["om","ir","os","pap","pas","pil","io","po","ulos","is","best"]
x = my_series[["om","pap"]]
print(x)

In [ ]:
print(my_series)

In [ ]:
# getting a boolean-valued series by checking a condition

choose = my_series == 0.0
choose

In [ ]:
# Notice the index of x is a SUBSET of the index of "my_series"
# This can be useful when needing to relate values back to the original "my_series"!

x = my_series[choose]
print(x)

## Filtering via boolean masks

We often use boolean masks to filter data in Pandas. Series that are of type "bool" thus take on special significance: we use them a lot!

We also get special boolean algebra operators to use in Numpy/Pandas, distinct from the and/or/not you will use in regular Python: 


```python
& # AND
| # OR
~ # NOT
```

The reason why these are needed with Series is because we want to perform the boolean operation *elementwise*

For example if a and b are series with boolean entries

```python
a and b
```

will produce error but 

```python
a & b
```
will produce a series whose elements are the result of the elementwise boolean operation

In [ ]:
(1>2) and (2>1)

#### Exercise 2

Filter "my_series" to be all the elements that are NOT equal to 0, using a boolean mask we  created earlier in the notebook

In [ ]:
# Solution:

## Coding and managing missing values

A series object in PANDAS can deal with maybe the most important type of data of all for data analysis: missing data! 

We already see very naturally how data management leads to missing data rather immediately. Recall the earlier attempt to sum up two Series

```python
series3 = series1 + series2
print(series3)
as     NaN
iros   NaN
om     NaN
pap    NaN
dtype: float64
```
What happened there is that in the operation labels could not be matched, so pandas tried to sum a numeric value with a missing value, the result of which is a missing value!

The way to manually specify in PANDAS that a value is missing is to use use None, as below: 

```python
temp = pd.Series([1,None,2])
print(temp)
0    1.0
1    NaN
2    2.0
dtype: float64
```
If the Series is numeric, Pandas will cast it to numpy.float64 type and convert the None values to Numpy NaN values (Not a Number). If the Series is of type "object" (arbitrary Python objects), it will keep the values as None.

We can create *boolean masks* on the basis of such values. The way to identify NaN or None values in a Series is to use either of the equivalent two attributes

```python
seriesname.isna()
seriesname.isnull()
```

Either returns a boolean-valued series that we can use then for selecting and operating on NaN or the rest of the values. The opposite also exists: 

```python
seriesname.notna()
seriesname.notnull()
```

#### Exercise 3

Create a series with the following values, 'foo','bar',None,'baz','qux',None 

Create a series that contains the names without the Null values

In [ ]:
# Solution:

## Highlighting some important series attributes & methods

As usual one should explore the attributes of any python object one ends up working with. We have already accessed the seriesname.index and seriesname.value

Some other (among many!) that are worth highlighting: 

+ .map
+ .corr 
+ .describe
+ .hist
+ .plot
+ .size
+ .value_counts
+ .sort_values

#### In-class exercise

Create a series with the following values, 'Foo', 'BAR', None, 'foo', None, 'bar', 'bAR','foo', None

Use the "map" method to create a new series with each element lowercased. Create your own function to do the operation. Missing values should stay missing!

In [ ]:
# Challenge:

#### Exercise 4: 

Using the series from above, now lowercased, count the occurences of each name
Hint: do not use a loop! Check the series methods mentioned earlier

In [ ]:
# Challenge:

## Dataframes

This is PANDAS model for rectangular data, operationally is like a dictionary of series; each column of the dataframe is a series object, and clearly comes with all the attributes/methods of a series

An implication of the above is that within each column the data type is common; across columns of course this can change

Let's see an example right away

In [ ]:
tips.head(10) # the first method of our dataframe object!

In [ ]:
# the other important attribute: name of rows and columns
print(tips.index)

tips.columns

## Accessing the series embedded within

There are three ways to access the information in the columns: 
+ One is to give the name of the column as `dataframename.columnname` 
   + This is not feasible when the name of the column coincides with an attribute or method of the dataframe, e.g. when a column is called "size"  
+ Another is as dataframename["columnname"]
+ A third is to access the data frame columns (and rows) as if it were an array, using *iloc*; we explore this a bit later

Any of these calls returns a series object with the same index as the dataframe and the values of the column

We can then work with the extracted series as usual. Hence you can understand what happens below 

```python
tips["size"].corr(tips.tip)
```

In [ ]:
tips.sex[3]

In [ ]:
tips["size"]

In a similar fashion, we can access various columns at a time; we need to provide a list of column names in this case; the result is now a dataframe with the same index as the original and columns the chosen subset. We can then work with it using any of the dataframe attributes and methods we know. 

You can now guess what will happen below: 

```python
tips[["tip","size","sex"]].tip.corr(tips["size"])

```
(not saying that this is a sensible piece of code! just trying to make sure we understand the structure)

## Accessing subsets of rows

Now we are interested in a subset of rows. We can access rows by:
+ list of index labels 
  ```python
  dataframename.loc[ [index1, index2, ...] ]
  ```
+ list of integer index location (i-loc) 
  ```python
  dataframename.iloc[ [integer1, integer2, ...] ]
  ```
The output is:
+ a series, if a single column or row is chosen
+ a dataframe, with index label the chosen index labels and the same column names as the dataframe

In the case of .iloc we can also use slices, as for example
```python
dataframename.iloc[3:5]
dataframename.iloc[3:5,:]
dataframename.iloc[3:5,-2:]
```

Note: loc/iloc are also used to access a subset of rows AND columns at the same time. See examples below!

In [ ]:
# Accessing rows AND columns!
# Example of two-dimensional loc

tips.loc[[1,3], ['sex', 'smoker']]

In [ ]:
# Accessing rows AND columns!
# Example of 2-dimensional iloc

tips.loc[1:3, ["smoker"]]

#### In-class exercise:

Using the tips dataframe, create a new one that contains the information contained in all rows between the 20th (inclusive) and the 45th (exclusive) and only the columns: tip, sex, day

In [ ]:
# Challenge

Note that certain operations are exchangeable: the 3rd element of column "sex" can be obtained with either of the following ways: 
```python
tips.sex[2] #access col as series, then the 3rd element of that
tips.loc[2,"sex"] #access the entry in dataframe by giving the names of row and col 
tips.loc[2]["sex"] #accessing the whole row as a series, then using the column name as index label
```
etc

## Filtering

As with series, we can use a boolean-valued series to index a dataframe provided they share the same index labels. The simplest instance of this is to use series produced as boolean masks of columns of the dataframe. The output of this *filtering* operation is a dataframe with subset of rows corresponding to the True values in the boolean mask. 

For example, for the tips data, what does the following produce? 
```python
tips[tips.sex == "Male"] 
```

Recall that the boolean operators are 
```python
& # AND
| # OR
~ # NOT

```

## Statistics and computations

dataframe comes with several attributes for computing column-wise statistics and summaries. We highlight some 
```python
.boxplot # check out the "by = " option!
.corrwith & .corr # within and across dataframes!
.dot 
.mean/median/max/quantile/sum etc
.sample 
.sort_values 
```

#### Exercise 5

Using the tips dataframe, calculate the correlation between tip and size for only Male clients during Dinner.

In [ ]:
# Challenge:

#

## GroupBy

This dataframe method groups the dataframe according to the values of a column, treating them as categorical values; it returns a groupby object!

Groupby objects are useful, but can feel a bit opaque. Let's play around with them a bit:

In [ ]:
# Group tips dataframe by size of table
by_size = tips.groupby("size")

by_size

In [ ]:
tips.head()

In [ ]:
tips.groupby("size").tip.mean()

In [ ]:
# If we coerce it to a list, we see something interesting: 
# It's basically a list of tuples! 
# The first element is the "category" variable, the second
# is a datafame. 

list(by_size)

In [ ]:
# We can iterate through the groupby just like we would a list of tuples!


for sex,data in tips.groupby("sex"):
    print(sex)
    print(data.mean())

## Why do we groupby? 

We group by to perform _some_ operation on each group. To _map_ over the groups, applying a function to each element! 

Very often this function is itself an aggregation (reduction). We want to somehow aggregate each group into a value or set of values that _describe_ the group!

How do we apply functions to each element of a groupby? We use a handy method called ".apply"!

In [ ]:
# Get the maximum bill by gender: 

def max_bill(df):
    return df.total_bill.max()

tips.groupby("sex").apply(max_bill)

#### In-class exercise

Get the second largest bill by gender!

HINT: use sort_values and iloc!

In [ ]:
# Challenge:

## Built-in Aggregations in groupby

Many aggregation functions that exist on Series and DataFrames (mean, max, min, etc.) can be called directly via the groupby object: 

```python
tips.groupby("sex").max()
tips.groupby("sex").mean()
```

#### In-class exercise: 

What is the mean tip, per day, for male vs. female?

In [ ]:
# Challenge:


# Multiple Groupby!

That groupby induction that we just performed, it's quite a common use-case! So there's an even easier way to do it in Pandas. 

We can group by more than one column!

In [ ]:
# Take a look at the structure of the multiple groupby!

list(tips.groupby(["sex", "day"]))

#### Exercise 6 

Find the mean tip, per day, for male vs. female using multiple groupby

In [ ]:
# Challenge

## Combining dataframes

There are many ways to combine various dataframes into a new one, extending in many ways what we already saw for operations on series. The main (among various) ways of doing this are: 

+ Concatenate: paste row-column-wise and taking action on NaNs
    + This works more on the rectangular structure of the data 
+ Merge: combine dataframes using a common piece of information, e.g. a common column
    + This works more as a database operation

### Concatenate

```python
pd.concat([df1,df2,...], axis=0) 
```

+ axis: 0 for pasting below, 1 for pasting on the side (order in list matters either way)



What do you think will happen in the following case? 

```python
df1 = pd.DataFrame({"A": pd.Series([1,2,3]), "B": pd.Series([4,5,6])})
df2 = pd.DataFrame({"A": pd.Series([4]), "C": pd.Series([7])})
pd.concat([df1,df2], axis=0)
```

In [ ]:
# Concatenation is mostly used when the rows or columns are shared. 
# For example, you might have data with the same columns and want 
# to concatenate them on axis 0:
# But note: what happened to the index? 
# We might want to reset it. 

df1 = pd.DataFrame({"A": pd.Series([1,2,3]), "B": pd.Series([4,5,6])})
df2 = pd.DataFrame({"A": pd.Series([7]), "B": pd.Series([10])})
pd.concat([df1,df2], axis=0)

In [ ]:
# Similarly, you might have data with the same rows and different columns:

df1 = pd.DataFrame({"A": pd.Series([1,2,3]), "B": pd.Series([4,5,6])})
df2 = pd.DataFrame({"B": pd.Series([7,8,9]), "C": pd.Series([10,11,12])})
pd.concat([df1,df2], axis=1)

In [ ]:
# But note what happens if the rows do not align, and you concatenate on axis 1:

df1 = pd.DataFrame({"A": pd.Series([1,2,3]), "B": pd.Series([4,5,6])})
df2 = pd.DataFrame({"B": pd.Series([7]), "C": pd.Series([10])})
pd.concat([df1,df2], axis=1)

#### Exercise 7

Investigate the other parameters of concat() and in particular "join" and "ignore_index".

On the basis of those options from the dataframes df1, df2 defined above and just by using concat() create a dataframe that contains the first row of df1 and df2 aligned horizontally,  and rename the columns of the new dataframe as A,B,C,D

In [ ]:
# Challenge

### Merge

Merge is commonly used when your two dataframes must be connected and they do not share an index or columns such as when we concatenated. 

With merge we will connect two DataFrames on some common piece of information, e.g. a common column. The structure of the command is: 

```python
pd.merge(leftdf, rightdf, how = "inner", on = , *keywds)  
```

+ "on" defines on what piece of information the DataFrames will merge.
+ You can also define "left_on" and "right_on" separately if the columns are named differently
+ There are four options for "how", the other important argument in merge:
    + "inner": intersection of keys
    + "outer": union of keys
    + "left": use keys from left only
    + "right": use keys from right only

<img src="https://i.stack.imgur.com/hMKKt.jpg">

In [ ]:
df1 = pd.DataFrame({"A": pd.Series([1,2,3]), "B": pd.Series([4,5,6])})
df2 = pd.DataFrame({"A": pd.Series([4]), "C": pd.Series([7])})

# Let's try merging

pd.merge(df1,df2, how='left',on='A')

## Working with non-rectangular data

We mentioned in the beginning that Pandas is a library for working with rectangular data. 

What if your data is not rectangular? What does non-rectangular data look like? Very often our data might come in dictionaries. Imagine data about a "tweet". It might look like this: 


```python
{
    "screenname": "tommy",
    "id_str": "928374987",
    "text": "Woah, pandas is so much fun #worldrocked #jawdrop #win",
    "hashtags": ["worldrocked", "jawdrop", "win"]
}
```

How would you fit this into a rectangular data format? Do the "hashtags" cause a problem?

In [ ]:
raw_tweets = [{ "screenname": "tommy",
          "id_str": "928374987",
          "text": "Woah, pandas is so much fun #worldrocked #jawdrop #ml",
          "hashtags": ["worldrocked", "jawdrop", "ml"]},
          {"screenname": "om",
           "id_str": "928214039",
           "text": "I eat linear models for breakfast #datascience #ml #crossfit",
           "hashtags": ["ml", "crossfit"]}]

tweets = pd.DataFrame(raw_tweets)

# What is the "hashtag" column made of? 
tweets

## Merge keeps the data flat

The correct way to use data such as this in pandas, data with nested lists, is to copy each tweet to multiple rows, one row for each hashtag. 

We can use "merge" to do this for us automatically if we put the data into two separate dataframes, one for the hashtags and one for the rest of the tweets. This is called "normalized form" and is often how you will find data if you get it from a SQL database:

In [ ]:
tweets = pd.DataFrame(raw_tweets, columns = ["screenname", "id_str", "text"])
tweets

In [ ]:
tags_and_ids = [(t['id_str'], tag) 
                for t in raw_tweets 
                for tag in t['hashtags']]

tags_and_ids

In [ ]:
hashtags = pd.DataFrame(tags_and_ids, columns = ['id_str', 'hashtag'])

hashtags

#### In-class exercise: 

Put the two separate dataframes together. We will opt for the "long" format

In [ ]:
# Challenge

# notice that this is particularly relevant when different nr of hastags are used 
# for different tweets, as is often the case


df = tweets.merge(hashtags,on="id_str", how="left")
df

#### Exercise 8

Read about long vs wide format for representing datasets. This is of relevance to statistical methods as well. Start from example from here: 

https://en.wikipedia.org/wiki/Wide_and_narrow_data

## In-class  programming project: Customer of the month

**(finish at home if insufficient time in class)**


- We have a list of prices for certain products given in the file "supermarket_prices.csv"
- We have a list of transactions from certain customers in a period of a month given in "supermarket_transactions.csv"

The aims in this information retrieval project is to calculate
- How many items each client has purchased
- How many items of each type each client has purchased
- The total amount spent by each client

On the basis of these analyses we wish to carry out the following marketing tasks: 

- The company that provides the supermarket with bananas wishes to give a prize to the client that has spent the largest proportion of their spending on bananas. Who should win the prize? 
- A marketing company that works with the supermarket is interested to understand better the characteristics of the three people that have spent most of their spending on bananas. For each one of them report the other product that they have spent most of their remaining income on

*Needless to say that eyeballing is OK for making sure your code makes sense, but should not be a way to solve such problems.  We want a fully automated code. To carry out the project successfully you need to use most the attributes and methods described earlier. The last one is a little tricky* 

We will address these tasks one-by-one

In [ ]:
# Load the data and save as df

prices = pd.read_csv('https://datasciencebocconi.github.io/Data/supermarket_prices.csv')
transactions = pd.read_csv('https://datasciencebocconi.github.io/Data/supermarket_transactions.csv')

In [ ]:
prices.head(5)

In [ ]:
transactions.head(5)

In [ ]:
# How many items each client has purchased

In [ ]:
# How many items of each type each client has purchased

In [ ]:
# The total amount spent by each client

# here we need to merge the datasets to combine quantities with prices
# We should also do it in a way that removes redundnacies, hence for each client we have for 
# each item the total quantities bought and the total price paid for that item

In [ ]:
# first create a df from the groupby operation with totals for each quantity
# experiment with reset_index !
# reset index gives a long format of the result of the groupby

In [ ]:
# We can now merge this with the prices dataset and define the total 
# price per item - call the new column "Spent"

# "how" matters here! changes the organization of the dataframe,
# try left and right

#call it transaction_prices and add a column "Spent" with the total per item

In [ ]:
# Find the total amount spent by each customer

In [ ]:
# Find the total amount spent by each customer on each product

In [ ]:
# Try now to create a new column that contains the perc of money spent on 
# each item for each customer
# You might want to create some intermediate df's

In [ ]:
# The company that provides the supermarket with bananas wishes to give a 
# prize to the client that has spent the largest proportion of their spending on bananas. 
# Who should win the prize?

In [ ]:
# A marketing company that works with the supermarket is interested to understand 
# better the characteristics of the three people that have spent most of their 
# spending on bananas. For each one of them report the other product that they have 
# spent most of their remaining income on

This is an example of very untidy data!!!

I call the variable Spent and spent in the two approaches - this took me 1 hour to debug! I only kept this silly approach for future lessons..